.App {
  text-align: center;
  font-family: source-code-pro;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: grey;
  color: white;
  margin-left: 0;
  margin-right: 0;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.home-container {
  padding-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.brand {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 0;
  color: black;
  font-family: "Lato", sans-serif;
}

/* forms */
.form-control {
  font-family: source-sans-pro;
  margin: auto;
  display: block;
  width: 400px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  font-family: sourc-sans-pro;
  margin: auto;
  display: block;
  width: 400px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background: none;
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-button {
  font-family: sourc-sans-pro;
  margin: auto;
  display: block;
  width: 70px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background: none;
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mr-sm-2,
.mx-sm-2 {
  margin-left: 500px;
}

.signup {
  color: white;
  margin-top: 100px;
}

.jumbotron {
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  background: url("https://images.unsplash.com/photo-1572512484487-5a471e8986af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60")
    no-repeat fixed bottom;
  background-position: center;
  background-size: cover;
  height: 250px;
  color: white;
  z-index: -2;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.overlay {
  background-color: #4b4949;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.display-4 {
  padding-top: 20px;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.carousel {
  position: relative;
  margin-top: auto;
}

.body-header {
  padding-top: 30px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
}

.carousel-indicators li {
  background-color: black;
  list-style: none;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 150px;
  width: 180px;
  margin: 2px;
}

.category-pic {
  width: 180px;
  height: 150px;
}

.category-card {
  width: 180px;
  border-radius: 0.25rem;
}

.group:hover {
  opacity: 100%;
  cursor: pointer;
  transform: translateX(-3px);
  transform: scale(1.3);
}
